@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Zen Dots", sans-serif;
  --font-display: "Zen Dots", sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(to bottom right, #121212, #2e4484);
  color: var(--foreground);
  font-family: "Zen Dots", sans-serif;
}
